.row {
    padding-top: 10px;
}
.nav-link:hover {
    color:#B0C4DE !important;
}
body {
    font-family: 'Poppins', sans-serif !important;
    background: url(../../style/img/1.png) no-repeat;
    background-position: right 85%;
    background-size: 400px;
    background-attachment: fixed;
}
.nav-link {
    color: white !important;
    font-size: 23px !important;
}
nav {
    font-family: 'Francois One', sans-serif !important;
}
body {
    font-family: 'Poppins', sans-serif !important;
}
.sign-up {
    border-color: #32CD32 !important;
    background-color: #32CD32 !important;
    color: white !important;
    font-size: 20px !important;
}
.sign-in {
    border-color: #008080 !important;
    background-color: white !important;
    color: #008080 !important;
    font-size: 20px !important;
    margin: 0px 0px 0px 15px !important;
}
.sign-in:hover {
    background-color: #ebedf1!important;
}

.sign-up:hover {
    background-color: #59d67a !important;
}
.card-header {
    background-color: #008080 !important;
    color: white;
}
.center {
    text-align: center;
}
.btn-coaches {
    width: 200px;
    background-color: #32CD32 !important;
    color: white !important;
    border-color: #32CD32 !important;
}
.btn-coaches:hover {
    background-color: green !important;

}
.title-table-coach {
    font-size: 18px !important;
    font-weight: normal;
}